// global colors

$blue: #0e2f44;
$orange:#FF6041; // rgb(255, 96, 65)
$grey: #9e9e9e;
$tab-element-color: rgba(255,255,255,0.8);


// font family and font sizes
$global_font_family: 'Open Sans', Arial, sans-serif;
$font_small: 12px;
$font_medium: 14px;
$font_large: 16px;
